<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="antoldstudio.unicafarmalda"
    android:versionCode="7"
    android:versionName="1.9" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="antoldstudio.unicafarmalda.A_UnicaFarma"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="antoldstudio.unicafarmalda.B_Menu_Inicial"
            android:label="Menu Inicial" >
        </activity>       
        <activity
            android:name="antoldstudio.unicafarmalda.C1_UnicaFarma"
            android:label="Única Farma LDA" >
        </activity> 
        <activity
            android:name="antoldstudio.unicafarmalda.C2_Actividades"
            android:label="Actividades Principais" >
        </activity> 
        <activity
            android:name="antoldstudio.unicafarmalda.C4_Imagens"
            android:label="Galeria da Única Farma" >
        </activity>         
         <activity
            android:name="antoldstudio.unicafarmalda.C3_Informacoes"
            android:label="Informações Extras" >
        </activity> 
        <activity
            android:name="antoldstudio.unicafarmalda.C5_Produtos"
            android:label="Produtos" >
        </activity> 
        <activity
            android:name="antoldstudio.unicafarmalda.C8_Desafios_Numeros"
            android:label="Teste suas Capacidades" >
        </activity> 
        <activity
            android:name="antoldstudio.unicafarmalda.C8_Desafios_Letras"
            android:label="Teste suas Capacidades" >
        </activity> 
        <activity
            android:name="antoldstudio.unicafarmalda.C7_Noticias_e_Eventos"
            android:label="Noticias e Eventos" >
        </activity> 
        <activity
            android:name="antoldstudio.unicafarmalda.C6_Mensagem"
            android:label="Envie uma Mensagem" >
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.C9_Mais_Unica"
            android:label="+ ÚNICA" >
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.D4_Enderecos"
            android:label="Endereços" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.C31_Contactos"
            android:label="Contactos" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.C32_Enderecos"
            android:label="Endereços" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.D3_Venda_a_Retalho"
            android:label="Venda a Retalho" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.D3_Venda_a_Grosso"
            android:label="Venda a Grosso" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.D3_Encomendas"
            android:label="Encomendas" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.D3_Credito"
            android:label="Credito" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.D3_Transporte"
            android:label="Transporte" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.D3_Galeria_de_Produtos"
            android:label="Galeria de Produtos" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.D3_Ofertas"
            android:label="Ofertas" >           
        </activity>
        <activity
            android:name="antoldstudio.unicafarmalda.YY_MY_LER_CS_V_Activity"
            android:label="LISTA DE PRODUTOS" >           
        </activity>
    </application>

</manifest>
